body {
  background-color: #f49e47;
  /* background-image: url("https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png"); */
}

h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0px 20px;
  font-size: 0;
  font-family: sans-serif;
  line-height: 45px;
}

.fixed-header {
  position: fixed;
  background-color: #fffbf7;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 285px;
  text-align: center;
}

li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.navbar {
  font-family: sans-serif;
  width: 70%;
  height: 45px;
  text-align: center;
  color: green;
}

.actions {
  width: 15%;
  font-size: 14px;
  text-align: left;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  background-color: #67b54b;
  color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

/*Publicidad y video*/

.t_publicitario {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.column_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.column_p img {
  width: 130px;
  margin-top: 10px;
}

.enc_p {
  font-family: sans-serif;
  color: #025157;
}

/* features */
.features {
  /* grid-template-columns: 300px 300px; */
  /* grid-template-columns: repeat(2, 300px); */
  /* grid-template-columns: 500px 1fr; */
  /* grid-template-columns: 1fr 1fr; */

  /* Reto 3.1 */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(2, 330px); */

  /* Reto 3.2 */
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.features .feature-art {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-art .feature-c {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-art .feature-c > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.feature-c img {
  width: 50px;
}

.features h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-art .feature-image figure img {
  margin-top: 0;
  height: 100%;
}

.features .feature-art .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

/* Seccion de Postwork, sesion 3 */
.growing {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.growing .growing-text {
  flex: 2;
  padding-right: 100px;
}

.growing .growing-text h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  margin-bottom: 0.5rem;
  font-weight: 500;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

.growing .growing-text p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.growing .growing-text button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

/* postwork 04 */
.work {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.work h2 {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.work .work-first-p {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 16px;
}

.work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
}

.work .work-four {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work .work-four .work-art {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.work .work-four .work-art {
  position: relative;
  height: 350px;
}

/* Sesion 5 */
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar,
  .actions {
    display: none;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}
